---
Title: Sample Header
image: assets/profile.png
date: 01.01.2020
category: cat1, cat2, cat3
info: 
  info1: answer1
  info2: answer2

---
Something is written in this Modal item.

You can remove any line in the meta data, but title and image.

