    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top navbar-shrink">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger " href="#page-top">{{ site_title }}</a>
    	<button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Portfolio</a>
                    </li>
                    {% if 'about' not in pages.index.meta.disable %}
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
                        </li>
                    {% endif %}
                    {% if 'contact' not in pages.index.meta.disable %}
                        <li class="nav-item mx-0 mx-lg-1">
                            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- /.container-fluid -->
    
        {# Show YAML Errors #}
        {% for page in pages if page.meta.YAML_ParseError %}
            <p style="
                color: white;
                text-align: center;
                background-color: darkred;
                margin-bottom: -25px;
                text-transform: none;
            ">Header Error in <a href="{{ page.url }}">{{ page.id }}</a>, {{ page.meta.YAML_ParseError }}</p>
        {% endfor %}
    
    </nav>
